
.window-command .input-prompt {
    font-family: fixedsys, 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    padding: 1px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.window-command .backbuffer {
    padding-left: 3px;
    white-space: pre;
}

.window-command .input-prompt .input-line-caret {
    padding-left: 3px;
}

.window-command .input-prompt .input-line-caret * {
    float: left;
    white-space: pre;
}

@keyframes caret-blink {
    50% { opacity: 0; }
}

.window-command .input-caret {
    margin-top: 10px;
    width: 5px;
    height: 1px;
    float: left;
    animation: caret-blink 1s step-start infinite;
}

.window-command .input-textarea {
    width: 0;
    height: 0;
    opacity: 0;
}
