
.logo-menu {
    padding-left: 20px;
}

.logo-menu .menu-item {
    line-height: 32px;
    height: 32px;
}

.logo-menu .menu-icon {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: 6px;
    width: 32px;
    height: 32px;
}

.logo-stripe-wrapper {
    background: #a0a0a0;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    width: 25px;
}

.logo-stripe:before {
    content: "Windows 95";
}

.logo-stripe {
    background: #a0a0a0;
    color: white;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    left: -31px;
    bottom: 40px;
    height: 25px;
    transform: rotate( 270deg );
}

.window-folder-container .statusbar .tray-objects {
    flex-grow: 2;
}

.window-folder-container .statusbar .tray-bytes {
    flex-grow: 1;
}

.container-wrapper {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.window-folder-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
}

.browse-container {
    margin: 5px auto;
    width: 400px;
    height: 140px;
}
