
.icon-browser-16 {
    background: url( icons-w95-16x16.png ) right 64px bottom 368px;
}

.icon-cdplayer-16 {
    background: url( icons-w95-16x16.png ) right 256px bottom 256px;
}

.icon-folder-16 {
    background: url( icons-w95-16x16.png ) right 112px bottom 144px;
}

.icon-prompt-16 {
    background: url( icons-w95-16x16.png ) right 128px bottom 256px;
}

.icon-rtf-16 {
    background: url( icons-w95-16x16.png ) right 320px bottom 448px;
}

.icon-wordpad-16 {
    background: url( icons-w95-16x16.png ) right 352px bottom 448px;
}

.icon-avi-16 {
    background: url( icons-w95-16x16.png ) right 352px bottom 320px;
}

.icon-programs-16 {
    background: url( icons-w95-16x16.png ) right 32px bottom 320px;
}

.icon-new-16 {
    background: url( icons-w95-16x16.png ) right 32px bottom 48px;
}

.icon-open-16 {
    background: url( icons-w95-16x16.png ) right 48px bottom 128px;
}

.icon-print-16 {
    background: url( icons-w95-16x16.png ) right 64px bottom 128px;
}

.icon-cut-16 {
    background: url( icons-w95-16x16.png ) right 176px bottom 128px;
}

.icon-copy-16 {
    background: url( icons-w95-16x16.png ) right 192x bottom 128px;
}

.icon-paste-16 {
    background: url( icons-w95-16x16.png ) right 208px bottom 128px;
}

.icon-preview-16 {
    background: url( icons-w95-16x16.png ) right 240px bottom 128px;
}

.icon-search-16 {
    background: url( icons-w95-16x16.png ) right 256px bottom 128px;
}

.icon-date-time-16 {
    background: url( icons-w95-16x16.png ) right 128px bottom 144px;
}

.icon-undo-16 {
    background: url( icons-w95-16x16.png ) right 144px bottom 144px;
}

.icon-refresh-16 {
    background: url( icons-w95-16x16.png ) right 112px bottom 128px;
}

.icon-stop-16 {
    background: url( icons-w95-16x16.png ) right 128px bottom 128px;
}

.icon-mail-16 {
    background: url( icons-w95-16x16.png ) right 80px bottom 128px;
}

.icon-home-16 {
    background: url( icons-w95-16x16.png ) right 96px bottom 128px;
}

/* 32x32 */

.icon-prompt-32 {
    background: url( icons-w95-32x32.png ) no-repeat -256px -512px;
}

.icon-folder-32 {
    background: url( icons-w95-32x32.png ) no-repeat -256px -238px;
}

.icon-cdplayer-32 {
    background: url( icons-w95-32x32.png ) no-repeat -480px -512px;
}

.icon-computer-32 {
    background: url( icons-w95-32x32.png ) no-repeat -736px -512px;
}

.icon-programs-32 {
    background: url( icons-w95-32x32.png ) no-repeat -64px -608px;
}

.icon-documents-32 {
    background: url( icons-w95-32x32.png ) no-repeat 0 -192px;
}

.icon-settings-32 {
    background: url( icons-w95-32x32.png ) no-repeat -128px -704px;
}

.icon-find-32 {
    background: url( icons-w95-32x32.png ) no-repeat -288px -672px;
}

.icon-help-32 {
    background: url( icons-w95-32x32.png ) no-repeat -320px -288px;
}

.icon-run-32 {
    background: url( icons-w95-32x32.png ) no-repeat -480px -608px;
}

.icon-shutdown-32 {
    background: url( icons-w95-32x32.png ) no-repeat -736px -768px;
}

.button-start .icon-start {
    background: url( icons-w95-16x16.png ) no-repeat -240px -432px;
}
